@import "../components/app/app";
@import "../components/header/header";
@import "../components/nav/nav";
@import "../components/popups/popup"; // Все модальные окна

//small components
@import "../components/input/input";
@import "../components/select/select";
@import "../components/button/button";

//pages
@import "../pages/events/events";
@import "../pages/calendar/calendar";
//@import "../pages/event/event";
