.events {
  &__container {
    max-width: 812px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -50px 0;

    @include tablet {
      justify-content: space-around;
      margin: -20px -5px;
    }
  }

  &__item {
    width: 353px;
    padding: 50px 0;

    @include tablet {
      padding: 20px 5px;
    }

    &-wrap {
      border: 1px solid #E5E5E5;
      border-radius: 5px;
      width: 100%;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      padding: 16px 24px;
    }

    &-title {
      font-size: 16px;
      font-weight: bold;
      flex: 1;
      margin-right: 10px;
    }

    &-button {
      flex-shrink: 0;
    }

    &-img {
      width: 100%;
      height: 220px;
      display: flex;
      justify-content: center;

      @include tablet {
        height: 200px;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &-date {
      padding: 16px 24px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}