.events {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 45%;
    padding: 25px 0;
  }

  &__item-img {
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}